/dataset_loc/
.venv/
work_text_on_image/.DS_Store
.DS_Store
/dataset/кроссовки
/dataset/планшет
/dataset/наушники
/dataset/ноутбук
/dataset/платье
/dataset/смартфон
/dataset/телевизор
/dataset/туфли
/dataset/чехол для телефона/

data/train/attributes.parquet
data/train/text_and_bert.parquet
